@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {

    background-color: black;
    color: white;
    font-family: "Rubik Glitch", system-ui;
    font-size: 48px;
    text-align: center;
}

#counterDisplay{
    font-size: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buttons{
    height: 200px;
    font-size: 70px;
}

#btn-1{
    height: 50px;
    width: 150px;
    font-family: "Anta", sans-serif;
    font-size: 22px;
    font-weight: bolder;
    border-radius: 10px;
    cursor: pointer;
}



#btn-2{
    height: 50px;
    width: 150px;
    font-size: 22px;
    font-weight: bolder;
    border-radius: 10px;
    font-family: "Anta", sans-serif;
    cursor: pointer;
}

#counterDisplay{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
